.ipynb_checkpoints/

.ipynb_checkpoints/Automation_Lesson1_Intro_InstructorNotes-checkpoint.ipynb

.ipynb_checkpoints/Automation_Lesson1_Intro_InstructorNotes-checkpoint.ipynb

.ipynb_checkpoints/Automation_Lesson2_DRY_programming-checkpoint.ipynb
